Vision/.vs/Vision/v15/ipch/AutoPCH/79bf0f5bf9147494/S.ipch
Vision/.vs/Vision/v15/Browse.VC.opendb
Vision/.vs/Vision/v15/Browse.VC.db
Vision/Vision.sln
Vision/Vision/Vision.vcxproj
Vision/Vision/x64/Debug/vc141.idb
Vision/Vision/x64/Debug/Vision.tlog/link.write.1.tlog
Vision/Vision/x64/Debug/Vision.tlog/link.read.1.tlog
Vision/Vision/x64/Debug/Vision.tlog/link.command.1.tlog
Vision/Vision/x64/Debug/Vision.tlog/Vision.lastbuildstate
Vision/Vision/x64/Debug/Vision.tlog/CL.write.1.tlog
Vision/Vision/x64/Debug/Vision.tlog/CL.read.1.tlog
Vision/Vision/x64/Debug/Vision.tlog/CL.command.1.tlog
Vision/Vision/Vision.vcxproj.filters
*.log
*.temp
*.tlog
Vision/Vision/x64/
/x64/
